.lg\:py-56 {
    padding-top: 10rem;
    padding-bottom: 2rem;
}

input::placeholder,
textarea::placeholder {
  color: #ffffffc4; /* 2 */
}

body{
    background-color: #0087ffd9;
}

.relative{
    background-color: #0087ffd9;
}
.text-4xl{

    color: #f6fbffd9;
}

.text-lg{
    color: #d4dce3d4;
}
@media (min-width: 640px) {
    .sm\:py-48 {
      padding-top: 12rem;
      padding-bottom: 2rem;
    }
}

@media (max-width:450px){
    .mt-6{
        display: none;
    }
    .text-4xl{
        font-size: 2em;
    }

    .home-title{
        padding-top: 20px;
    }
    .lg\:py-56{
        padding-top: 0px;
        padding-bottom: 0px;
    }

}