.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
    margin-bottom: 2rem ;
    align-items: center;
}

.search-inside{
    width: 362px;
    height: 50px;
    background: linear-gradient(0deg, #4077bdc2 0%, #2240b5 100%);;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 24px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    
}

.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: linear-gradient(-20deg, #4077bdc2 0%, #2240b5 100%);
}

.search-icon{
    width: 24px;
}

.data-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.card-detail-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

@media (max-width:450px){

    .card-detail-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .search-inside{
        width: 100%;
    }

    .search-button{
        height: 40px;
    }

    .card-container{
        width: 320px;
        gap: 0px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .mt-4 {
        margin-top: 0;
    }
    .card-container-1 {
        display: block;
        justify-content: center;
        gap: 20px;
    }

}

.main-card{
    width: 33%;
}

.cards {
    display: flex;
    gap: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}