@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:rgb(3, 140, 220);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
